* {
    box-sizing: border-box;
}
.container {
    width: 50vw;
    height: 90vh;
    border: 1px solid black;
    display: grid;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
}

h2{
    text-align: center;
}

.container div {
    background: white;
    border: 2px solid black;
}

.flex {
    display: flex;
    /* justify-content: space-between; */
    align-content: center;
    background-color: aqua;
}

.left-flex{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer, header {
    display: flex;
    background-color: rgba(75, 140, 39, 0.707);
    justify-content: center;
    align-items: center;
    height: 8vh;
}